<!Doctype html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">
	<head th:fragment="commoncss">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>timeDoc | Remote Time Tracking </title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="robots" content="all,follow">
	    
	    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700}">
	    
		<link rel="stylesheet" th:href="@{/resources/style/lib/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/resources/style/lib/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/resources/style/lib/fontastic.css}">
		<link rel="stylesheet" th:href="@{/resources/style/lib/grasp_mobile_progress_circle-1.0.0.min.css}">
		<link rel="stylesheet" th:href="@{/resources/style/lib/theme/jquery.mCustomScrollbar.css}">
		<link rel="stylesheet" th:href="@{/resources/style/lib/theme/style.sea.css}">
		<link rel="stylesheet" th:href="@{/resources/style/lib/custom.css}">
		<link rel="shortcut icon" href="@{/resources/images/favicon.ico}">
	</head>
</html>