<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">
	<div th:fragment="commonjs">
	
	    <script th:src="@{/resources/script/lib/jquery.min.js}"></script>
	    <script th:src="@{/resources/script/lib/popper.min.js}"> </script>
	    <script th:src="@{/resources/script/lib/bootstrap.min.js}"></script>
	    <script th:src="@{/resources/script/lib/grasp_mobile_progress_circle-1.0.0.min.js}"></script>
	    <script th:src="@{/resources/script/lib/jquery.cookie.js}"> </script>
	    <script th:src="@{/resources/script/lib/query.validate.min.js}"></script>
	    <script th:src="@{/resources/script/lib/jquery.mCustomScrollbar.concat.min.js}"></script>
	    <!-- Main File-->
	    <script th:src="@{/resources/script/lib/front.js}"></script>
	</div> 
</html>